/* basics */
html, body, input, button, textarea {
	font-size: 18px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body {
	height: 100%;
}

body {
	background-color: #84ECAF;
	color: #000;
	margin: 0px;
}

#wrap {
    max-width: 800px;
    margin: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, p {
	margin: 0px 0px;
	font-weight: normal;
}

.mb {
	margin-bottom: 10px;
}

.section {
	position: relative;
	margin: auto;
	padding: 20px;
}
/* end basics */

a.tag {
    color: #85DAEF;
}

.post {
    background-color: #FFF;
	border-bottom: 1px solid #84ECAF;
}

.inner_post {
    padding: 5px;
}

.post_header {
    font-weight: bold;
}

.post_body {
    padding: 5px 0px;
}

.post_time.timeago {
    font-size: 15px;
    color: #E76851;
    text-transform: capitalize;
}
