* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    outline: none;
}

body {
    margin: 0px;
    background-color: #FFF;
    color: #504A5A;
}

#header {
    background-color: #F5F5F6;
    color: #504A5A;
    overflow: auto;
    padding: 10px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

#header h1 {
    margin: 0px;
}

p, h1, h2, h3 {
    margin: 5px 0px;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bolder {
    font-weight: bold;
    margin-top: 20px;
}


p.body {
    margin: 10px 0px;
    /*line-height: 18px;*/
}

.time {
    font-size: 14px;
    color: #14B2CF !important;
    margin-bottom: 20px;
}

#feed {
    border-left: 50px solid;
    font-size: 18px;
    overflow: auto;
    margin-top: 60px;
}

#compose {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    height: 40px;
    line-height: 40px;
}

button {
    width: 100%;
    padding: 5px;
    background-color: #504A5A;
    height: 40px;
    border: none;
    line-height: 30px;
    color: #FFF;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    width: 490px;
    height: 100px;
    padding: 5px;
    font-size: 18px;
    resize: none;
    border: 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.post:not(:first-child) {
    border-top: 5px solid;
}

.post p {
    color: #333;
    padding: 0px 20px;
}

form.compose.disabled:before {
    content: "";
    background: #504A5A;
    height: 157px;
    width: 500px;
    /* top: 0px; */
    display: block;
    opacity: 0.5;
    position: absolute;
}
